{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container mt-5'>
        <div class='row'>
            <div class='col-12'>
            <a class='btn btn-primary' href='editarcliente?id=00'>adicionar novo cliente</a>
                <table class="table table-striped mt-2">
                    <tr>
                        <th>nome</th>
                        <th>nascimento</th>
                        <th>identidade</th>
                        <th>cpf/cnpj</th>
                        <th>tel. celular</th>
                        <th>tel. fixo</th>
                        <th>acao</th>
                    </tr>
                    {% for cliente in todos_clientes %}
                    <tr>
                        <td>{{ cliente[1] }}</td>
                        <td>{{ cliente[2] }}</td>
                        <td>{{ cliente[3] }}</td>
                        <td>{{ cliente[4] }}</td>
                        <td>{{ cliente[5] }}</td>
                        <td>{{ cliente[6] }}</td>
                        <td><a class="btn btn-primary"
                            href="editarcliente?id={{ cliente[0] }}" role="button">editar</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}