{% extends 'base.html' %}

{% block body %}
<div class='container mt-5'>
    <div class='row justify-content-center'>
        <div class='col-6 primary'>
            <form class="row gy-2 gx-3 align-items-center">
                <div class="mb-3">
                    <label for="nome" class="form-label">nome:</label>
                    <input type="text" value='{{ cliente[0][1] }}' name='nome' class="form-control" id="nome">
                </div>
                <div class="mb-3">
                    <label for="nascimento" class="form-label">nascimento:</label>
                    <input type="text" value='{{ cliente[0][2] }}' name='data_nasc' class="form-control"
                        id="nascimento">
                </div>
                <div class="mb-3">
                    <label for="ci" class="form-label">identidade:</label>
                    <input type="text" value='{{ cliente[0][2] }}' name='ci' class="form-control" id="ci">
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label">cpf:</label>
                    <input type="text" value='{{ cliente[0][4] }}' name='cpf' class="form-control" id="cpf">
                </div>
                <div class="mb-3">
                    <label for="tel1" class="form-label">celular:</label>
                    <input type="text" value='{{ cliente[0][5] }}' name='tel1' class="form-control" id="tel1">
                </div>
                <div class="mb-3">
                    <label for="tel2" class="form-label">fixo:</label>
                    <input type="text" value='{{ cliente[0][6] }}' name='tel2' class="form-control" id="tel2">
                </div>

                <button type="submit" class="btn btn-primary">salvar</button>
            </form>
        </div>
    </div>
</div>
<footer class='mt-5'></footer>
{% endblock %}