{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container mt-3 conteudo-pagina'>
        <div class='row'>
            <div class='col-12'>
                <a class='btn btn-primary botao-grande' href='editarenergia?id=00'>✚ adicionar nova conta</a>
                <table class="table table-striped table-hover mt-2 energia">
                    <tr class='primeira-linha'>
                        <th class='center-align'>data</th>
                        <th class='center-align'>relogio 1</th>
                        <th class='center-align'>kitnet 1</th>
                        <th class='center-align'>relogio 2</th>
                        <th class='center-align'>kitnet 2</th>
                        <th class='center-align'>relogio 3</th>
                        <th class='center-align'>kitnet 3</th>
                        <th class='center-align'>valor por kwh</th>
                        <th class='center-align'>valor da conta</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td class='small'>{{data1}}</td>
                        <td class='small' name='mes1relogio1'>{{busca_contas[1][2]}}</td>
                        <td class='small' name='mes1valor1'>{{mes1ktn1}}</td>
                        <td class='small' name='mes1relogio2'>{{busca_contas[1][3]}}</td>
                        <td class='small' name='mes1valor2'>{{mes1ktn2}}</td>
                        <td class='small' name='mes1relogio3'>{{busca_contas[1][4]}}</td>
                        <td class='small' name='mes1valor3'>{{mes1ktn3}}</td>
                        <td class='small' name='kwhmes1'>{{mes1kwh}}</td>
                        <td class='small' name='totalmes1'>{{mes1total}}</td>
                    </tr>

                    <tr>
                        <td class='small'>{{data2}}</td>
                        <td class='small' name='mes2relogio1'>{{busca_contas[2][2]}}</td>
                        <td class='small' name='mes2valor1'>{{mes2ktn1}}</td>
                        <td class='small' name='mes2relogio2'>{{busca_contas[2][3]}}</td>
                        <td class='small' name='mes2valor2'>{{mes2ktn2}}</td>
                        <td class='small' name='mes2relogio3'>{{busca_contas[2][4]}}</td>
                        <td class='small' name='mes2valor3'>{{mes2ktn3}}</td>
                        <td class='small' name='kwhmes2'>{{mes2kwh}}</td>
                        <td class='small' name='totalmes2'>{{mes2total}}</td>
                    </tr>

                    <tr>
                        <td class='small'>{{data3}}</td>
                        <td class='small' name='mes3relogio1'>{{busca_contas[3][2]}}</td>
                        <td class='small fw-bold' name='mes3valor1'>{{mes3ktn1}}</td>
                        <td class='small' name='mes3relogio2'>{{busca_contas[3][3]}}</td>
                        <td class='small fw-bold' name='mes3valor2'>{{mes3ktn2}}</td>
                        <td class='small' name='mes3relogio3'>{{busca_contas[3][4]}}</td>
                        <td class='small fw-bold' name='mes3valor3'>{{mes3ktn3}}</td>
                        <td class='small' name='kwhmes3'>{{mes3kwh}}</td>
                        <td class='small' name='totalmes3'>{{mes3total}}</td>
                        <td class='small'><a class="btn-sm btn-primary botao-pequeno"
                                href="editarenergia?id={{busca_contas[3][0]}}&acao=nenhuma" role="button">editar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% include('rodape.html') %}
{% endblock %}