{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container mt-5'>
        <div class='row'>
            <div class='col-12'>
                <a class='btn btn-primary' href='editarimovel?id=00'>adicionar novo imovel</a>
                <table class="table table-striped mt-2">
                    <tr>
                        <th>tipo</th>
                        <th>numero</th>
                        <th>localizacao</th>
                        <th>locatario</th>
                        <th>valor</th>
                        <th>observacao</th>
                        <th>dia base</th>
                        <th>acao</th>
                    </tr>
                    {% for imovel in todos_imoveis %}
                    <tr>
                        <td>{{ imovel[1] }}</td>
                        <td>{{ imovel[2] }}</td>
                        <td>{{ imovel[3] }}</td>
                        <td>{{ imovel[4] }}</td>
                        <td>{{ imovel[5] }}</td>
                        <td>{{ imovel[6] }}</td>
                        <td>{{ imovel[7] }}</td>
                        <td><a class="btn btn-primary"
                            href="editarimovel?id={{ imovel[0] }}" role="button">editar</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}