{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container mt-3'>
        <div class='row'>
            <div class='col-12'>
                <a class='btn btn-primary' href='editarimovel?id=00'>adicionar novo imovel</a>
                <form method='post' action='/recibos'>
                    <table class="table table-striped table-hover mt-2">
                        <tr>
                            <th><a href='imoveis?id=nenhum&acao=tipo'>tipo</a></th>
                            <th><a href='imoveis?id=nenhum&acao=numero'>numero</a></th>
                            <th><a href='imoveis?id=nenhum&acao=local'>localizacao</a></th>
                            <th><a href='imoveis?id=nenhum&acao=cliente'>locatario</a></th>
                            <th><a href='imoveis?id=nenhum&acao=valor_aluguel'>valor</a></th>
                            <th><a href='imoveis?id=nenhum&acao=observacao'>observacao</a></th>
                            <th><a href='imoveis?id=nenhum&acao=dia_base'>dia</a></th>
                            <th>imprimir</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for imovel in todos_imoveis %}
                        <tr>
                            <td class='small'>{{ imovel[1] }}</td>
                            <td class='small'>{{ imovel[2] }}</td>
                            <td class='small'>{{ imovel[3] }}</td>
                            <td class='small'>{{ imovel[4] }}</td>
                            <td class='small'>{{ imovel[5] | replace(".",",") }}</td>
                            <td class='small'>{{ imovel[6] }}</td>
                            <td class='small'>{{ imovel[7] }}</td>
                            <td><input class="form-check-input" type="checkbox" value="{{ imovel[0] }}"
                                    name="imovel{{ imovel[0] }}"></td>
                            <td><a class="btn-sm btn-primary" href="editarimovel?id={{ imovel[0] }}&acao=nenhuma"
                                    role="button">editar</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class='row'>
                        <div class='col'>
                            <div class='input-group'>
                                {{ input_mes | safe }}
                                <span class="input-group-text">mes</span>
                            </div>
                        </div>
                        <div class='col'>
                            <div class='input-group'>
                                {{ input_ano | safe }}
                                <span class="input-group-text">ano</span>
                            </div>
                        </div>
                    </div>
                    <div class='row mt-3'>
                        <div class='col'>
                            <button class='btn btn-primary'>imprimir recibos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer mt-5>
    &nbsp;
</footer>
{% endblock %}