{% extends 'base.html' %}

{% block body %}

<div class='container-sm mt-3'>
    <div class='row justify-content-center'>
        <div class='col-xs-10 col-sm-10 col-md-10 col-lg-3 col-xg-3 login'>
            <main class="form-signin">
                <form method='post' action='logar'>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control input-login" id="floatingInput" name='usuario'>
                        <label for="floatingInput">usuario:</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control input-login" id="floatingPassword" name='senha'>
                        <label for="floatingPassword">senha:</label>
                    </div>
                    <div class='form-floating mt-3'>
                        <button class="w-100 btn btn-lg botao-login" type="submit"><em>logar</em></button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>


{% endblock %}